<div id="hello-component">
  <h1>Hello</h1>
  <article id="art-1">
    <h1>HelloApiCall</h1>
    <form method="post" action="<%= action_url(action = 'hello') %>">
      <p id="message">
        <%= @hello %>
      <p>
        <input type="submit" value="実行">
      </p>
    </form>
  </article>

  <article id="art-2">
    <h1>HelloApiCallByAjax</h1>
    <p id="message_ajax">
      <%= @hello %>
    <p>
      <input type="submit" value="実行" id="hello_button">
  </article>
</div>