<div id="movie-component">
  <h1>Movie</h1>
  <article id="movie-component__art-1">
    <h1>CreateMovieApiCall</h1>
    <p id="movie-component__art-1__message">
      <%= @movie %>
    <p>
    <form class="movie-form" method="post" action="<%= action_url(action = 'movie/new') %>">
      <fieldset>
        <legend>Movie</legend>
        <div class="item">
          <label class="label" for="movie-component__art-1__input__title">Title</label>
          <input id="movie-component__art-1__input__title" type="text" name="title">
        </div>
        <div class="item">
          <label class="label" for="movie-component__art-1__input__year">Year</label>
          <input id="movie-component__art-1__input__year" type="text" name="year">
        </div>
        <fieldset>
          <legend>Info</legend>
          <div class="item">
                        <textarea rows="4" id="movie-component__art-1__input__info-plot"
                                  placeholder="Movie plot" name="info[plot]"></textarea>
          </div>
          <div class="item">
            <label for="language">Rating：</label>
            <select id="movie-component__art-1__select__info-rating" name="info[rating]" required>
              <option value="">選択してください</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </fieldset>
        <input type="submit" value="実行" id="movie-component__art-1__button--form">
        <input type="submit" value="Ajax実行" id="movie-component__art-1__button">
      </fieldset>
    </form>
  </article>
</div>