<div id="welcome-component">
  <h1>Welcome</h1>
  <article id="art-1">
    <h2>Serverless Sinatra</h2>

    <div class="content">
      <ul>
        <li>Hello: HelloWorld Api Call Demo</li>
      </ul>
    </div>
  </article>

  <article id="art-2">
    <h3>Environment</h3>
    <ul>
      <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
      <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
      <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
      <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
    </ul>
  </article>
</div>
